@import "../../root.scss";

#Name {
  margin-left: auto;
  display: none;
  @media screen and (max-width: $small) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media screen and (max-width: $medium) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.close-on-collapse {
  @media screen and (max-width: $small) {
    display: none;
  }
  @media screen and (max-width: $medium) {
    display: none;
  }
}
#heading {
  font-family: $heading1;
  font-size: 1.5em;
  font-weight: bolder;
  text-shadow: 1px 2px 3px grey;
  color: #102a42;
}
#basic-navbar-nav {
  background-color: white !important;
  width: 100vw !important;
}
#heading > span {
  color: #ab7a5f;
  font-family: $heading1;
}
#hamburger {
  border: none;
  &:active {
    border: none;
  }
}
.navbar-toggler {
  text-decoration: none;
  border: none;
  box-shadow: none;
  padding: 0 0.3em;
  &:focus {
    text-decoration: none;
    box-shadow: none;
  }
}
.nav-item {
  padding: 0 0.6em;
}
a.nav-link {
  display: inline-block;
  padding: 0.2em;
  margin: 0 0.6em;
  letter-spacing: 0.1rem;
  cursor: pointer;
  &:hover,
  :focus,
  :active {
    width: 50%;
    border-bottom: 2px solid#ab7a5f;
  }
  &::after {
    border-bottom: 2px solid#ab7a5f;
  }

  @media screen and (max-width: $small) {
    display: block;
    width: 100%;
    padding: 1rem 0;
    width: 100vw;
    &:hover,
    :focus,
    :active {
      background-color: pink;
      cursor: pointer;
    }
  }
  @media screen and (max-width: $medium) {
    padding: 1rem 0;
    display: block;
    width: 100vw;
    cursor: pointer;
    &:hover,
    :focus,
    :active {
      background-color: pink;
    }
  }
}
// .active-link {
//   border-bottom: 2px solid#ab7a5f;
// }
#header {
  height: 4rem;
  background-color: white !important;
  padding: 1.5rem 3rem;
}
