@import "../../root.scss";

.footer {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 1em;
  background-color: $clr-black;
  p {
    color: $clr-white;
    margin: 0.1rem;
    font-weight: 400;
    text-transform: none;
    line-height: 1.25;
    span {
      color: $clr-primary-5;
    }
  }
}
